<div id="long-rest" class="dialogue-content" onsubmit="event.preventDefault();">

  <div class="form-group vertical">
    <h1 class="form-title">{{localize 'DND4E.ExtendedRestTake'}}?</h1>
    <p>{{localize 'DND4E.ExtendedRestHint'}}:</p>
    <ul>
      <li>{{localize 'DND4E.ExtendedRestEffectHP'}}</li>
      <li>{{localize 'DND4E.ExtendedRestEffectResources'}}</li>
      <li>{{localize 'DND4E.ExtendedRestEffectAP'}}</li>
    </ul>
    <div class="form-group">
      <label>{{localize 'DND4E.ExtendedRestTakeSafe'}}?</label>
      <select name="envi">
        <option value="true">{{localize 'DND4EUI.Yes'}}</option>
        <option value="false">{{localize 'DND4EUI.No'}}</option>
      </select>
    </div>
  </div>
	
</div>
